* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 20px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555;
}

.iti__hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

input, button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

input, select {
  border: 1px solid #CCC;
  width: 250px; }

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }

.form-label {
  margin-bottom: 1.5rem;
}

.bg-default {
  background-color: #01e675;
}

.bg-custom {
  padding-top: 3%;
  background-color: #fff;
  height: 670px;
  border: 2px;
  border-radius: 10px;
}

.form_submit {
  border: 0;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 17px #00000030;
}

.center {
  text-align: -webkit-center;
}

.bg-form {
  padding: 1em;
  border: 2px;
  border-radius: 10px;
  background-color: #a6a6a612; !important
}

.btn-center {
  display: block;
  margin: 0 20%;
  background-color: #01e675;
  border-color: #01e675;
}

.margin-top{
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 3rem!important;
}
input {
  border-radius: 5px;
  border: 0.5px solid
  border-color: #01e675;
}
